
.info{
    font-size: 1.0rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 120px;
    width: 100%;
    padding-bottom: 0;
    position: absolute;
    bottom: 0px;
}

.info p {
    margin: 10px;
}

.source{
    font-size: 0.8rem
}

.img {
    display: block;
    width: auto;
    height: 300px;
}

.card{
    width: 345px;
    height: auto;
}

